In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("C:\\Users\\Sasha\\Desktop\\Py\\Blog\\post2\\sonar.csv")

In [6]:
df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f52,f53,f54,f55,f56,f57,f58,f59,f60,dep
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f1      208 non-null    float64
 1   f2      208 non-null    float64
 2   f3      208 non-null    float64
 3   f4      208 non-null    float64
 4   f5      208 non-null    float64
 5   f6      208 non-null    float64
 6   f7      208 non-null    float64
 7   f8      208 non-null    float64
 8   f9      208 non-null    float64
 9   f10     208 non-null    float64
 10  f11     208 non-null    float64
 11  f12     208 non-null    float64
 12  f13     208 non-null    float64
 13  f14     208 non-null    float64
 14  f15     208 non-null    float64
 15  f16     208 non-null    float64
 16  f17     208 non-null    float64
 17  f18     208 non-null    float64
 18  f19     208 non-null    float64
 19  f20     208 non-null    float64
 20  f21     208 non-null    float64
 21  f22     208 non-null    float64
 22  f23     208 non-null    float64
 23  f24     208 non-null    float64
 24  f25     208 non-null    float64
 25  f26     208 non-null    float64
 26  f27     208 non-null    float64
 27  f28     208 non-null    float64
 28  f29     208 non-null    float64
 29  f30     208 non-null    float64
 30  f31     208 non-null    float64
 31  f32     208 non-null    float64
 32  f33     208 non-null    float64
 33  f34     208 non-null    float64
 34  f35     208 non-null    float64
 35  f36     208 non-null    float64
 36  f37     208 non-null    float64
 37  f38     208 non-null    float64
 38  f39     208 non-null    float64
 39  f40     208 non-null    float64
 40  f41     208 non-null    float64
 41  f42     208 non-null    float64
 42  f43     208 non-null    float64
 43  f44     208 non-null    float64
 44  f45     208 non-null    float64
 45  f46     208 non-null    float64
 46  f47     208 non-null    float64
 47  f48     208 non-null    float64
 48  f49     208 non-null    float64
 49  f50     208 non-null    float64
 50  f51     208 non-null    float64
 51  f52     208 non-null    float64
 52  f53     208 non-null    float64
 53  f54     208 non-null    float64
 54  f55     208 non-null    float64
 55  f56     208 non-null    float64
 56  f57     208 non-null    float64
 57  f58     208 non-null    float64
 58  f59     208 non-null    float64
 59  f60     208 non-null    float64
 60  dep     208 non-null    object
dtypes: float64(60), object(1)
memory usage: 99.2+ KB

In [8]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [11]:
sc.fit_transform(X_train)
sc.fit(X_test)

StandardScaler()

In [12]:
from sklearn.linear_model import LogisticRegression
log_clf = LogisticRegression()

In [13]:
log_clf.fit(X_train, y_train)

LogisticRegression()

In [14]:
y_pred = log_clf.predict(X_test)

In [15]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[19  7]
 [ 2 14]]

0.7857142857142857

In [18]:
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[['M' 'M']
 ['R' 'R']
 ['R' 'R']
 ['R' 'R']
 ['M' 'M']
 ['R' 'R']
 ['R' 'M']
 ['M' 'M']
 ['R' 'R']
 ['M' 'M']
 ['M' 'M']
 ['R' 'R']
 ['R' 'M']
 ['M' 'M']
 ['M' 'M']
 ['M' 'M']
 ['M' 'M']
 ['M' 'M']
 ['M' 'R']
 ['R' 'R']
 ['M' 'M']
 ['M' 'M']
 ['R' 'M']
 ['R' 'M']
 ['R' 'R']
 ['R' 'R']
 ['R' 'R']
 ['R' 'R']
 ['M' 'M']
 ['M' 'M']
 ['M' 'M']
 ['R' 'R']
 ['R' 'R']
 ['M' 'M']
 ['M' 'M']
 ['R' 'M']
 ['M' 'M']
 ['R' 'M']
 ['M' 'R']
 ['M' 'M']
 ['R' 'R']
 ['R' 'M']]