In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import math 
import collections

In [ ]:
for i in range (0,10):
    print(i)

In [ ]:
for i in range (0,10,2):
    print(i)

In [ ]:
for i in range(1+1):
    print(i)

In [ ]:
# forming a dollar from change combinations
combinations = []
for count_100 in range(1+1):
    for count_50 in range(2+1):
        for count_25 in range(4+1):
            for count_10 in range(10+1):
                for count_5 in range(20+1):
                    for count_1 in range(100+1):
                        if 100*count_100 + 50*count_50 + 25*count_25 + 10*count_10 + 5*count_5 + count_1 == 100:
                            combinations.append([count_100, count_50, count_25, count_10, count_5, count_1])

In [ ]:
combinations

In [ ]:
len(combinations)

In [ ]:
# Quarters in a dollar
for count_25 in range(4+1):
    print(count_25)

In [ ]:
# Dollar from quarters
for amount_25 in range(0, 101, 25):
    print(amount_25)

In [ ]:
combinations = []
for amount_100 in range(0,101,100):
    for amount_50 in range(0,101,50):
        for amount_25 in range(0,101,25):
            for amount_10 in range(0,101,10):
                for amount_5 in range(0,101,5):
                    total_so_far = amount_100 + amount_50 + amount_25 + amount_10 + amount_5 
                    if total_so_far <= 100:
                            combinations.append([amount_100, amount_50, amount_25, amount_10, amount_5, 100 - total_so_far])

In [ ]:
combinations

In [22]:
nephews = ['Huey', 'Dewey', 'Louis']

In [23]:
nephews

['Huey', 'Dewey', 'Louis']

In [24]:
for i in range(3):
    nephews[i] += ' Duck'

In [25]:
nephews

['Huey Duck', 'Dewey Duck', 'Louis Duck']

In [26]:
nephews.append('April Duck')

In [27]:
nephews

['Huey Duck', 'Dewey Duck', 'Louis Duck', 'April Duck']

In [28]:
nephews.extend(['May Duck', 'June Duck'])

In [29]:
nephews

['Huey Duck',
 'Dewey Duck',
 'Louis Duck',
 'April Duck',
 'May Duck',
 'June Duck']

In [30]:
ducks = nephews +['Donald Duck', 'Daisy Duck']

In [31]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louis Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [32]:
ducks.insert(0, 'Scrooge McDuck')

In [33]:
ducks

['Scrooge McDuck',
 'Huey Duck',
 'Dewey Duck',
 'Louis Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [34]:
del ducks[0]

In [36]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louis Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [37]:
ducks.sort()

In [38]:
ducks

['April Duck',
 'Daisy Duck',
 'Dewey Duck',
 'Donald Duck',
 'Huey Duck',
 'June Duck',
 'Louis Duck',
 'May Duck']

In [39]:
squares = [1,4,9,16,25,36,49]

In [40]:
squares[0:2]

[1, 4]

In [41]:
squares[:4]

[1, 4, 9, 16]

In [42]:
capitals = {'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome'}

In [43]:
capitals['Italy']

'Rome'

In [44]:
capitals['Spain'] = 'Madrid'

In [45]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid'}

In [46]:
morecapitals = {'Germany':'Berlin', 'United Kingdom':'London'}

In [47]:
capitals.update(morecapitals)

In [48]:
capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [49]:
for country in capitals:
    print(country)

United States
France
Italy
Spain
Germany
United Kingdom

In [50]:
squares = []
for i in range(1,11):
    squares.append(i**2)

In [51]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
squares = [i**2 for i in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
squares = [i**2 for i in range(1,11) if i**2%4==0]
squares

[4, 16, 36, 64, 100]

In [55]:
countries_by_capital = {capital: country for country, capital in capitals.items()}
countries_by_capital

{'Washington, DC': 'United States',
 'Paris': 'France',
 'Rome': 'Italy',
 'Madrid': 'Spain',
 'Berlin': 'Germany',
 'London': 'United Kingdom'}

In [56]:
people = [('Michelle', 'Vallisneri', 'July 15'),
          ('Albert', 'Einstein', 'March 14'), 
          ('John', 'Lennon', 'October 9'),
          ('Jocelyn', 'Bell Burnell', 'July 15')]

In [57]:
people

[('Michelle', 'Vallisneri', 'July 15'),
 ('Albert', 'Einstein', 'March 14'),
 ('John', 'Lennon', 'October 9'),
 ('Jocelyn', 'Bell Burnell', 'July 15')]

In [58]:
people[0][0]

'Michelle'

In [60]:
people[0][1]

'Vallisneri'

In [61]:
[person for person in people if person[2] =='July 15']

[('Michelle', 'Vallisneri', 'July 15'), ('Jocelyn', 'Bell Burnell', 'July 15')]

In [62]:
persontype = collections.namedtuple('person', ['firstname', 'lastname', 'birthday'])

In [63]:
michele = persontype('Michele', 'Vallisnery', 'July 15')

In [65]:
michele

person(firstname='Michele', lastname='Vallisnery', birthday='July 15')

In [66]:
michele[0]

'Michele'

In [67]:
namedpeople = [persontype(*person) for person in people]

In [68]:
namedpeople

[person(firstname='Michelle', lastname='Vallisneri', birthday='July 15'),
 person(firstname='Albert', lastname='Einstein', birthday='March 14'),
 person(firstname='John', lastname='Lennon', birthday='October 9'),
 person(firstname='Jocelyn', lastname='Bell Burnell', birthday='July 15')]