In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [ ]:
# Dataset source
# Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.

In [2]:
df = pd.read_csv("C:\\Users\\Sasha\\Desktop\\Py\\Git\\PracticeModels\\Projects\\Census\\census.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
# Race representation
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [9]:
# Mens average age
round(df[df['sex']=='Male']['age'].mean(),1)

39.4

In [21]:
# Percentage of people with bachelors
round(df[df['education-num']==13].shape[0] /df.shape[0] * 100,1)

16.4

In [76]:
print(pd.unique(df[['education', 'education-num']].values.ravel()))

['Bachelors' 13 'HS-grad' 9 '11th' 7 'Masters' 14 '9th' 5 'Some-college'
 10 'Assoc-acdm' 12 'Assoc-voc' 11 '7th-8th' 4 'Doctorate' 16
 'Prof-school' 15 '5th-6th' 3 '10th' 6 '1st-4th' 2 'Preschool' 1 '12th' 8]

In [86]:
# Percentage of people with advanced education making over 50K
round(df[(df['education-num'].isin([13,14,16])) & (df['salary'] == '>50K')].shape[0] / df[df['education-num'].isin([13,14,16])].shape[0] * 100, 1)

46.5

In [87]:
# Percentage of people without advanced education making over 50K
round(df[(~df['education-num'].isin([13,14,16])) & (df['salary'] == '>50K')].shape[0] / df[~df['education-num'].isin([13,14,16])].shape[0] * 100, 1)

17.4

In [88]:
# Minimum hours worked per week
df['hours-per-week'].min()

1

In [97]:
# Percentage of people working minimum hours and making over 50K
round(df[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')].shape[0] / df[df['hours-per-week']==1].shape[0] * 100,1)

10.0

In [109]:
# Country with highest percentage of population earning over 50K
round(df[df['salary']=='>50K']['native-country'].value_counts() / df['native-country'].value_counts() * 100,1).idxmax()

'Iran'

In [110]:
# Highest percentage of population earning over 50K
round(df[df['salary']=='>50K']['native-country'].value_counts() / df['native-country'].value_counts() * 100,1).max()

41.9

In [119]:
# Most popular uccupation in india that pays over 50K
df[(df['native-country']=='India') & (df['salary'] == '>50K')]['occupation'].value_counts()

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Adm-clerical         1
Transport-moving     1
Sales                1
Name: occupation, dtype: int64

In [120]:
# Most popular uccupation in india that pays over 50K
df[(df['native-country']=='India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()

'Prof-specialty'