In [126]:
# Not working, needs further development
# datasource -> https://www.kaggle.com/zynicide/wine-reviews?select=winemag-data_first150k.csv
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [210]:
df = pd.read_csv("C:\\Users\\Sasha\\Desktop\\Py\\Git\\PracticeModels\\Projects\\WineScore\\winemag-data_first150k.csv")

In [198]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [211]:
df.drop(df.columns[[0,2,3,8,10]], axis=1, inplace=True)

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   150925 non-null  object
 1   points    150930 non-null  int64
 2   price     137235 non-null  float64
 3   province  150925 non-null  object
 4   region_1  125870 non-null  object
 5   variety   150930 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.9+ MB

In [212]:
df.dropna(axis=0, inplace=True)

In [213]:
y = df.iloc[:,1].values
df.drop(df.columns[1],axis=1,inplace=True)

In [251]:
df['country'].unique()

array(['US', 'Spain', 'France', 'Italy', 'Argentina', 'Australia',
       'Canada'], dtype=object)

In [238]:
X = pd.get_dummies(df, columns=["country", "province", "region_1", "variety"], drop_first=True)

In [239]:
X = X.iloc[:, :].values

In [240]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [255]:
X_train[:,[0]]

array([[20.],
       [24.],
       [22.],
       ...,
       [47.],
       [55.],
       [31.]])

In [257]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit_transform(X_train[:,[0]])
sc.transform(X_test[:,[0]])

array([[ 0.35885911],
       [-0.60504473],
       [-0.65859495],
       ...,
       [-0.17664303],
       [-0.41761899],
       [-0.39084388]])

In [261]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [262]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[   0    0    0    0   53    0    3   76    8    0    3    1    2    0
     0    0    0    0    0    0    0]
 [   0    0    0    0   80    0    3  139   11    0   11    0    0    1
     0    0    0    0    0    0    0]
 [   0    0    0    0  263    0   13  355   39    0   33    0    6    0
     0    0    0    0    0    0    0]
 [   0    0    0    0  321    0   19  511   63    2   39    2    4    1
     0    0    0    0    0    0    0]
 [   0    0    0    0  557    0   39  859   80    0  104    1   16    2
     0    0    0    0    0    0    0]
 [   0    0    0    0  443    0   35 1080  173    2  135    2   25    5
     0    0    0    0    0    0    0]
 [   0    0    0    0  422    0   53 1326  244    2  206    4   37    3
     0    0    0    0    0    0    0]
 [   0    0    0    0  502    0   89 1679  376   14  400   12   67    8
     0    0    0    0    0    0    0]
 [   0    0    0    0  247    0   51 1216  522    7  439   20   54   19
     0    0    0    0    0    0    0]
 [   0    0    0    0  149    0   37  747  308   10  459   48   60   31
     0    0    0    0    0    0    0]
 [   0    0    0    0  205    0   59  782  409   12  747   56  103   34
     1    0    0    0    0    0    0]
 [   0    0    0    0   87    0   38  349  290   17  563   66   87   50
     0    0    0    0    0    0    0]
 [   0    0    0    0   41    0   36  219  156   11  649   87  152   66
     1    0    0    0    0    0    0]
 [   0    0    0    0   21    0    8   89   89    7  438   95  158  105
     2    0    0    0    0    0    0]
 [   0    0    0    0    3    0    0   32   32    1  231   43  114   97
     3    0    0    0    0    0    0]
 [   0    0    0    0    0    0    3    8    5    1   73   20   69   79
     4    0    0    0    0    0    0]
 [   0    0    0    0    0    0    2    1    2    2   20   15   25   34
     4    0    0    0    0    0    0]
 [   0    0    0    0    0    0    0    0    0    0    8    6   20   23
     2    0    0    0    0    0    0]
 [   0    0    0    0    0    0    0    0    0    0    2    0    0   13
     2    0    0    0    0    0    0]
 [   0    0    0    0    0    0    0    0    0    0    0    0    2    2
     0    0    0    0    0    0    0]
 [   0    0    0    0    0    0    0    0    0    0    0    0    1    2
     0    0    0    0    0    0    0]]

0.17019974649241662